<h1>Nouvelle partie</h1>
<div class="form">
    <mat-form-field appearance="fill">
        <mat-label>Nombre d'équipes</mat-label>
        <mat-select [(value)]="nombreJoueurs">
            <mat-option [value]="2">
                2
            </mat-option>
            <mat-option [value]="3">
                3
            </mat-option>
            <mat-option [value]="4">
                4
            </mat-option>
            <mat-option [value]="5">
                5
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Equipe 1</mat-label>
        <input matInput formControlName="joueur1">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Equipe 2</mat-label>
        <input matInput formControlName="joueur2">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="nombreJoueurs > 2">
        <mat-label>Equipe 3</mat-label>
        <input matInput [required]="nombreJoueurs > 2" formControlName="joueur3">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="nombreJoueurs > 3">
        <mat-label>Equipe 4</mat-label>
        <input matInput [required]="nombreJoueurs > 3" formControlName="joueur4">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="nombreJoueurs > 4">
        <mat-label>Equipe 5</mat-label>
        <input matInput [required]="nombreJoueurs > 4" formControlName="joueur5">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="fermerPopin()" [disabled]="!isValide()">Ok</button>
</div>